*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --whale-yellow: #e6b342;
  --whale-blue: #04465d;
  --watercolor-white: hsl(240, 11, 98, 100);
}

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0;
  background-color: var(--watercolor-white);
  /* background-color: var(--whale-blue); */
  color: var(--whale-yellow);
}
