*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --whale-yellow: #e6b342;
  --whale-blue: #04465d;
  --inkblot-black: #333;
}

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0;
  color: var(--inkblot-black);
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=#fcfefeffff&noise=626262&density=18&opacity=13");
  box-shadow: 2px 3px 20px black, 0 0 100px #ebe3d9ff inset;
}

h1 {
  -webkit-text-stroke: 1px var(--whale-blue);
  color: transparent;
  text-shadow: 5px 3px 2px var(--inkblot-black);
  font-size: 100px;
}
