nav {
  display: flex;
  align-items: center;
  background-color: grey;
  height: 90px;
  padding: 30px 25px;
  font-family: "Bebas Neue", sans-serif;
  /* creates glassomorphism for navbar */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

a {
  text-decoration: none;
}

.nav-logo {
  max-width: 75px;
  margin-right: auto;
}
